csharp/WpfApp1/Setup1/Debug/
csharp/WpfApp1/Setup1/Release/

php/ws/config/database.php
php/ws/public/php_errors.log
php/ws/vendor/
php/ws/temp/

python/notify/build/
python/notify/config.json
python/notify/notify.log
python/notify/notify.spec
python/notify/resources/

python/testcode/tests/result.txt

python/ws_test/results/

*.user
*.pyc
settings.json
**/.vs/
**/bin/
**/obj/
**/__pycache__/
**/chromedriver-win64/
